/********************************
   Mobile First Media Queries
********************************/
@define-mixin atXSmall {
  @media only screen and (min-width: 550px) {
    @mixin-content;
  }
  
}

@define-mixin atSmall {
  @media only screen and (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media only screen and (min-width: 990px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media only screen and (min-width: 1200px) {
    @mixin-content;
  }
}



/******************************
  Media Queries for Landscape
******************************/
@define-mixin forLandscapeSm {
  @media only screen and (max-height: 475px) {
    @mixin-content;
  }
}

@define-mixin forLandscapeLg {
  @media only screen and (max-height: 660px) {
    @mixin-content;
  }
}



/*************************
        ClearFix
*************************/
@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}