.generic-content {
  text-indent: 1em;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;    
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);

  @mixin atSmall {
    font-size: 18px;
    line-height: 27px;
  }


  &--large {
    font-size: 18px;

    @mixin atSmall {
      font-size: 20px;
      line-height: 25px;
      font-weight: 100;
    }
    @mixin atLarge {
      font-size: 24px;
    }
  }

  strong {
    font-weight: 700;
  }

  &--small {
    font-size: 14px;

    @mixin atSmall {
      font-size: 16px;
    }
  }
}