.hero {
  /*padding-top: 70px;*/

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @mixin clearfix;

/*
  @mixin atSmall {
    padding-top: 200px;
  }

  @mixin forLandscapeLg {
    padding-top: 120px;
  }
  @mixin forLandscapeSm {
    padding-top: 30px;
  }*/

  &__title {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    font-family: Canela, sans-serif;
    color: #fff;
    letter-spacing: 0.02em;
    margin: 0 auto;
    cursor: pointer;

    @mixin atSmall {
      font-size: 72px;
      letter-spacing: 0.04em;
    }
    @mixin forLandscapeSm {  
      font-size: 55px;
    }

    & span {
      display: inline-block;
      padding: 0.4em 0.5em 0.2em;
      border: 6px solid #fff;
      box-shadow: $shadowBox;

    }
  }

  &__subtitle {
    padding-top: 14px;
    text-align: center;
    font-weight: 700;
    font-family: Canela, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-style: italic;
    color: #fff;
    line-height: 0.9;
    text-shadow: $shadow;

    @mixin atSmall {
      padding-top: 0;
      font-size: 35px;
      line-height: 1;
    }

    @mixin forLandscapeSm {  
      font-size: 30px;
    }
  }
}