.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @mixin clearfix;

  @mixin forLandscapeLg {
    padding-top: 120px;
  }

  &__title {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    font-family: Canela, sans-serif;
    color: #fff;
    letter-spacing: 0.02em;
    margin: 0 auto;
    cursor: pointer;

    @mixin forLandscapeSm {  
      font-size: 45px;
    }
    @mixin atLarge {
      font-size: 72px;
      letter-spacing: 0.04em;
    }

    & span {
      display: inline-block;
      
      padding: 0.2em 0.4em 0.1em;
      border: 5px solid #fff;
      
      box-shadow: $shadowBox;

      
    @mixin forLandscapeSm {  
      padding: 0.2em 0.3em 0;
      border: 3px solid #fff;
    }

    
    @mixin atLarge {
      padding: 0.4em 0.5em 0.2em;
      border: 6px solid #fff;
    }

    }
  }

  &__subtitle {
    margin: 19px auto;
    text-align: center;
    font-weight: 700;
    font-family: Canela, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    font-style: italic;
    color: #fff;
    line-height: 1;
    text-shadow: $shadow;


    @mixin forLandscapeSm {  
    margin: 10px auto;
    }
    
    @mixin atSmall {
      font-size: 30px;
      margin: 23px auto;
    }
    
    @mixin atLarge {
      font-size: 35px;
    }
  }
}