.projects-page {
  position: relative;
  display: none;

  .anchorP1{ color: #06060D; }
  .anchorP2{ color: #BB7BDF; }
  .anchorP3{ color: #28A745; }
  .anchorP4{ color: #F9930E; }
  .anchorP5{ color: #F8876E; }
  .anchorP6{ color: #FE3366; }
  .anchorP7{ color: #B07722; }
  .anchorP8{ color: #55C57A; }


  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    opacity: 0.5;

    >svg {
      width: 100%;
      height: 100%;

      path {
        fill: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .page-return {
    position: absolute;
    top: 13px;
    left: -10px; 
    cursor: pointer;
    
    @mixin atSmall {
      top: 43px;
      left: -58px;
    }
    
    &:hover {
      opacity: 1;
    }
  }

  .top-project {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;

    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);

    @mixin atSmall {
      bottom: -22px;
      left: -44px;
    }
  }
}