.site-infos {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @mixin atSmall {
    padding-left: 0;
    padding-right: 0;
  }

  & p {
    width: 85%;
    margin: 0 auto;

    &::first-letter {
      font-size: 130%;
    }
  }

  &__bar {
    margin: 0 auto 55px;
    width: 220px;
    height: 0px;
    border-top: 2px solid $accent;

    @mixin atSmall {
      width: 300px;
    }

    @mixin atMedium {
      margin: 0 auto 75px;
      width: 350px;
    }
  }

  &__resume {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    color: $accent;
    transition: all .7s ease-in-out;

    @mixin atSmall {
      font-size: 45px;
    }

    &:hover {
      color: #c99065e0;
      transform: scale(1.1);
    }

  }

}