.site-about {
  &__icons {
    max-width: 780px;
    margin: 0 auto;

    .item>svg {
      width: 100px;
      height: 100px;
      background-color: $bgColor;
      border-radius: 50%;
      margin-top: 10px;

      &--profile {
        width: 200px;
        height: 200px;
      }
    }
  }

  &__description {
    max-width: 950px;
    padding: 0 15px;
    margin: 0 auto;

    @mixin atSmall {
      margin: 50px auto 0;
    }

    .desc-quote {
      text-align: center;
      font-family: Canela;
      word-spacing: 3px;
      letter-spacing: -1px;
      color: $accent;
      margin-top: 30px;
      text-decoration: underline;
    }
  }
}