.site-quote {
  position: relative;
  width: 100%;
  max-width: 950px;


  .quote-content {
    display: block;
    position: relative;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

    @mixin atMedium {
      margin: 0 auto 50px;
    }

    .quote-mark {
      position: absolute;
      height: 60px;
      width: 60px;
      z-index: -1;
      opacity: 0.3;

      svg {
        width: 60px;
        height: 60px; 
      }

      path {
        fill: $accent;
      }

      &--left {
        top: -10px;
        left: 0;
      }

      &--right {
        transform: rotate(180deg);
        bottom: -10px;
        right: 0;
      }
    }

    & p {  
      text-indent: 1em;
      font-family: Canela, sans-serif;
      font-weight: 900;
      font-style: italic;
      word-spacing: 3px;

      &::first-letter {
        font-size: 130%;
      }
    }
  }
}