.site-about {
  width: 100%;
  &__icons {
    
    max-width: 780px;
    margin: 0 auto;

    

    .item>svg {
      display: none;
      width: 100px;
      height: 100px;
      background-color: $bgColor;
      border-radius: 50%;
      margin-top: 10px;

      @mixin atSmall {
      display: block;
    }

      &--profile {
        width: 200px;
        height: 200px;
      }
    }
  }

  &__description {
    width: 85%;
    padding: 0 ;
    margin: 0 auto;

    @mixin atSmall {
      margin: 50px auto 0;
      max-width: 950px;
    }

    .desc-quote {
      text-align: center;
      font-family: Canela;
      font-size: 19px;
      word-spacing: 3px;
      letter-spacing: -1px;
      color: $accent;
      margin-top: 30px;
      text-decoration: underline;

      @mixin atSmall {
        font-size: 22px;
      }
    }

  }
}