.site-footer {
  position: relative;
  padding: 10px 10px 5px 10px;


  background: url("../../assets/images/footer.jpg") center center;
  background-size: cover;

  @mixin atSmall {
    padding: 20px 20px 5px 20px;
  }

  &__logo {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: 40px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    position: absolute;
    top: 55px;
    right: 15px;

    & ul {
      padding-right: 0;        
      margin-bottom: 10px;
      text-align: right;
    }
  }
  &__copyright {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;

    font-size: 10px;
    color: rgba(0, 0, 0, .65);
  }
}