.skills-block {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  color: #999;
  

  @mixin clearfix;

  @mixin atSmall {
    width: 770px;
  }

  .block-unit {  
    width: 250px;
    height: 30px;
    margin-top: 10px;
    float: left;

    @mixin atXSmall {
    width: 250px;
    } 
    
    @mixin atSmall {
      width: 340px;
    }


    &__p {
      margin: 0;
      padding-bottom: 3px;
    }

    &__bar {
      margin: 0;
      font-size: 0;
      height: 6px;
      width: 100%;


    }

    span {
      height: 4px;
      width: 18px;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: $accent;

      @mixin atSmall {
        width: 28px;

      }
    }

    .skills-6 span:nth-child(n+7) {
      background-color: $bgColor;
    }

    .skills-5 span:nth-child(n+6) {
      background-color: $bgColor;
    }

    .skills-8 span:nth-child(n+9) {
      background-color: $bgColor;
    }

    .skills-9 span:nth-child(n+10) {
      background-color: $bgColor;
    }

    .skills-10 span:nth-child(n+11) {
      background-color: $bgColor;
    }
  }

  &--align-x {
    margin: 0 auto;
    padding-left: 90px;
    @mixin atSmall {
      padding-left: 70px;
    }
  }
}