.socialBar {
}
  /*  socialBar--header__icons  */
  &--header {
    max-width: 180px;
    margin: 15px auto;
    padding: 0;

    @mixin atSmall {
      position: absolute;
      margin: 0 !important;
      top: 25px;
      right: 15px;
    }

    &__icons {

      @mixin atSmall {
        margin-right: 20px;
      }
    }
  }

  /*  socialBar--contact__icons  */
  &--contact {
    margin: 30px auto;
    max-width: 350px;

    @mixin atSmall {
      margin: 50px auto;
      max-width: 700px;
    }

    &__icons {}
  }



  /* socialBar--footer */
  &--footer {
    max-width: 140px;
    margin: 5px auto;
    padding: 0;

    @mixin atSmall {
      position: absolute;
      margin: 0 !important;
      bottom: 10px;
      right: 15px;
    }

    &__icons {

      @mixin atSmall {
        margin-right: 20px;
      }
    }
  }