.thumb {

  @mixin clearfix;



  &__unit {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    perspective: 300px;
    cursor: pointer;
    padding-top: 16%;          
    width: 50%;
    height: 140px;

    @mixin atMedium {
      width: 25%;
      height: 150px;
    }


    &--1 { background: url('../../assets/images/work/proj-1/thumb.jpg') center center no-repeat; background-size: cover; }
    &--2 { background: url('../../assets/images/work/proj-2/thumb.jpg') center center no-repeat; background-size: cover; }
    &--3 { background: url('../../assets/images/work/proj-3/thumb.jpg') center center no-repeat; background-size: cover; }
    &--4 { background: url('../../assets/images/work/proj-4/thumb.jpg') center center no-repeat; background-size: cover; }
    &--5 { background: url('../../assets/images/work/proj-5/thumb.jpg') center center no-repeat; background-size: cover; }
    &--6 { background: url('../../assets/images/work/proj-6/thumb.jpg') center center no-repeat; background-size: cover; }
    &--7 { background: url('../../assets/images/work/proj-7/thumb.jpg') center center no-repeat; background-size: cover; }
    &--8 { background: url('../../assets/images/work/proj-8/thumb.jpg') center center no-repeat; background-size: cover; }




    &:hover .thumb__overlay {
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      transform: rotateX(0deg);
      opacity: .85;
    }
  }

  &__overlay {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: $accent;
    text-align: center;
    transition: .75s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: rotateX(90deg);
    transform-origin: (center bottom);
    opacity: 0;

    strong {
      display: block;
      padding: 15px;

      color: #fff;
      font-weight: 300;
      font-size: 24px;
      line-height: 1.2;
    }
  }
}